COURT1_URL=http://live-wcloud-cdn.ysp.cctv.cn/tlivecloud-cdn.ysp.cctv.cn/001/2000210103.m3u8
COURT2_URL=http://43.168.176.59/mobilelive-test.ysp.cctv.cn/ysp/2031460301_hd.m3u8
COURT3_URL=http://43.168.176.59/mobilelive-test.ysp.cctv.cn/ysp/2031468201_hd.m3u8
SECRET_KEY=YOUR_32_CHAR_RANDOM_SECRET_STRING_HERE
